/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #333;
}

/* Navigation Bar */
header {
    background-color: #00796b;
    /* padding: 1rem; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90rem;
}
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#home {
    padding: 5rem;
    text-align: center;
    background: url("./ph2.jpg") no-repeat center center/cover;
    color: white;
}
#about {
    display: flex;
    justify-content: center;
}

header nav h1 a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #00796b;
    /* padding: 1rem; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar {
    padding: 0.5rem;
    width: 60%;
    max-width: 500px;
    border-radius: 5px;
    border: none;
}

#searchSuggestions {
    color: black;
    background: white;
    border-radius: 5px;
    max-width: 500px;
    margin: 1rem auto 0;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

#searchSuggestions p {
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
}

/* Beach Grid */
#beach-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.beach-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 12rem;
    text-align: center;
}

/* Beach Details */
#beach-details {
    padding: 1rem;
    display: none;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #004d40;
}

#popular {
    background-image: url("./body background.jpg");
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: 400px; Adjust the height as needed */
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    #searchBar {
        width: 80%;
    }

    #beach-grid {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    bottom: 0;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}
